@use '../../styles/partials/mixins';
*{
    font-family:sans-serif;
}
.videos{
    
    &__title{
        color: #afafaf;
        font-size: 0.8rem;
        padding-bottom: 1rem;
    }
    &__container{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }
    &__image-container{
        width: fit-content;
        height: 3rem;
        background-color: #e1e1e1;

    }
    &__image{
        width: 8rem;
        height: 3.5rem;
        border-radius: 4px;
        
    }
    &__subcontainer1{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

    }
    &__subtitle{
        font-size: 0.8rem;
        font-weight: bold;
        color: #323232;
        max-width: 200px;
    }
    &__channel{
        font-weight: 0.7rem;
        color: #afafaf;
    }

}