.nextVideo-image{
    border-radius: 4px;
    max-width:150px;
    max-height: 100px;
   

}


.videoDetails-container{

    display: flex;
  flex-direction: column;

   

}

.nextVideo-container{
    display: flex;
    gap: .5rem

}