
@import '/src/styles/partials/mixins.scss';
@import '/src/styles/partials/variables.scss';

.Header__container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    gap: 1rem;
    @media (min-width: 768px) {
        flex-direction: row;
        padding-left: 36px;
        padding-right: 36px;

    }

}

.Header-logo{
    Height: 36px;
    max-width: 120px;
}

#search {
    background-image: url(../../assets/Icons/search.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position-x:0.5rem ;
    background-position-y: center;
    padding-left: 2rem;
    width: 15rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: 2px solid #afafaf;
    width: 80%;
    @media (min-width:767px){
        margin-left: 8rem;
    }
    @media (min-width: 1279px){
        margin-left: 25rem;
    }
    
}

#avatar {
    border-radius: 50%;
    height: 2.2rem;
    width: 2.2rem;
    @media (min-width: 768px) {
       display: none;
    }

} 

#avatar-2 {
    border-radius: 50%;
    height: 2.2rem;
    width: 2.2rem;
    @media (max-width: 768px) {
       display: none;
    }
} 

.upload__button--container{
    width: 90%;
    @media (min-width: 768px) {
        width: 20rem;
        padding-top: 0rem;
        padding-right: 1rem;
       
    }

}

#upload {
    background-image: url(../../assets/Icons/upload.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-x:0.5rem ;
    background-position-y: center;
    padding-left: 1.5rem;
    background-color: #0095FF;
    border-color:#0095FF;
    color: #FFFFFF;
    border-radius: 4px;
    border-color: none;
    width: 100%;
    height: 36px;
    

}

.search__avatar--container {
    display: flex;
    width: 90%;
    justify-content: space-between;

}