@use '../../styles/partials/mixins';
*{
    font-family: sans-serif;
    font-weight: 400;
}


    .comments{

    &__container{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &__avatar{
    background-color:  #afafaf;;
        max-height: 36px;
        min-width: 36px;
        border-radius: 50%;
    } 
    &__nameDate{
        display: flex;
        justify-content: space-between;
    } 
    &__name{
        font-weight: 700;
    }
    &__time{
        color: #afafaf;
    }

}  



